
.call {
    margin: 6px 0px 0px 0px;
    padding: 0.8em 0px 0px 0px;
    border-radius: 10px;
    border: 2px solid #e9e9e8;
    width: 100%;
    white-space: pre-wrap;
}

p {
    font-size: 0.75em;
}

a {
    text-decoration: none !important;
}

.call {
    color: #bababa;
}

#dark {
    color: #4f4f4f;
    font-size: medium;
}

.fa-long-arrow-alt-down {
    color: #fc5624;
    font-size: 0.8em;
    -webkit-transform: translate(-9px, -6px);
    transform: translate(-9px,-6px);
    display: inline-block !important;
    position: relative;
}

#time {
    padding-top: 0.8em;
    font-size: small !important;
    text-align: end !important;
}

#icon {
    text-align: end;
    padding-top: 0.8em;
    margin-left: 6px;
    max-width: 80px;
}